<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
  </startup>
  
  <connectionStrings>
    <add name="OdataToEntity" connectionString="Server=.\sqlexpress;Initial Catalog=OdataToEntity;Trusted_Connection=Yes;" providerName="SqlServer" />
  </connectionStrings>
</configuration>
